@font-face {
    font-family: 'BNazanin';
    src: url('../../assets/B-NAZANIN.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
body {
    font-family: 'BNazanin', sans-serif;
}